@charset "UTF-8";
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #111;
  height: 55px; }

#header #logo {
  float: left; }

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff; }

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px; }

@media (max-width: 768px) {
  #header {
    height: 55px; }
  #header #logo h1 {
    font-size: 26px; }
  #header #logo img {
    max-height: 40px; } }

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85); }

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px; }

/* Nav Menu Arrows */
/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none; }

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #F79B30; }

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08); }

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4; }

.nav-menu ul li:first-child {
  border-top: 0; }

.nav-menu ul li:hover {
  background: #f6f6f6; }

.nav-menu ul li a {
  color: #333; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none; }

#mobile-nav-toggle i {
  color: #fff; }

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline; } }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB; }

#mobile-nav ul .menu-item-active {
  color: #03C4EB; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpg) top center fixed;
  background-size: cover; }

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff; }

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px; } }

#hero .rotating > .animated {
  display: inline-block; }

.rotating {
  color: #F79B30; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*Icon scroll animation */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%; }

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 100%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px; }

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #F7992B;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px); } }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px); } }

.service-list {
  padding: 0 0 0 0;
  font-size: 14px;
  margin-bottom: 40px; }

.service-list-col1 {
  float: left;
  width: 60px; }

.service-list-col1 i {
  font-style: normal;
  font-size: 38px;
  display: block;
  color: #222;
  font-family: 'FontAwesome';
  line-height: 38px; }

.service-list-col2 {
  overflow: hidden; }

.main-section.alabaster {
  background: #fafafa; }

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 16px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 400; }

p {
  line-height: 24px;
  margin: 0; }

h6 {
  font-size: 16px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 70%; }

h2 {
  font-size: 34px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 70px 0 15px 0;
  text-align: center;
  text-transform: uppercase; }

/* Service Box   */
.serviceBox {
  text-align: center; }

.serviceBox .service-icon {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin-bottom: 22px;
  font-size: 35px;
  color: #F79B30;
  position: relative; }

.serviceBox .service-icon:before {
  content: "";
  width: 120px;
  height: 120px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s ease 0s; }

.serviceBox:hover .service-icon:before {
  width: 93px;
  height: 93px;
  border: 3px solid #ffa900;
  top: 13px;
  left: 13px;
  transform: rotate(45deg); }

.serviceBox .title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #0d3b66;
  margin: 0 0 15px 0;
  transition: all 0.25s ease 0s; }

.serviceBox:hover .title {
  color: #ffa900; }

.serviceBox .description {
  font-size: 14px;
  color: #888;
  line-height: 25px; }

@media only screen and (max-width: 990px) {
  .serviceBox {
    margin-bottom: 30px; } }

/* clients section  */
.our-team {
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 5px #808080; }

#aboutUs {
  padding-bottom: 50px; }

.our-team img {
  width: 100%;
  height: auto; }

.our-team .team-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 40px 20px;
  background: #FD6F2E;
  transform: scale(0.1, 0.1);
  transition: all 0.50s ease-in-out; }

.our-team:hover .team-content {
  opacity: 1;
  transform: scale(1, 1); }

.our-team .team-prof {
  margin: 20px 0 25px 0; }

.our-team .team-prof a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase; }

.our-team .team-prof a:hover {
  color: #f15277;
  text-decoration: none; }

.our-team .team-prof small {
  color: #f15277;
  display: block;
  font-size: 13px;
  margin-top: 30px;
  text-transform: uppercase; }

.our-team {
  padding: 0;
  margin-top: 20px; }

.our-team li {
  list-style: none;
  margin-right: 5px;
  display: inline-block; }

.our-team li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: #fff;
  background: #808080; }

.our-team li a:hover {
  background: #f15277;
  text-decoration: none; }

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 20px; } }

.clientRow {
  margin-top: 50px; }

#startButton {
  background: #52535B;
  border: 4px solid #fd6f2e;
  margin-top: 20px;
  padding: 8px 20px;
  color: #fd6f2e;
  display: inline-block;
  font: normal 700 18px/1 "Ubuntu", sans-serif;
  text-align: center; }

#startButton:hover {
  color: white;
  background: #fd6f2e; }

.teamGray {
  background-color: #52535B !important; }

/*Carosel  */
.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 90%; }

.onebyone-carosel .active.left {
  left: -33.33%; }

.onebyone-carosel .active.right {
  left: 33.33%; }

.onebyone-carosel .next {
  left: 33.33%; }

.onebyone-carosel .prev {
  left: -33.33%; }

/*Footer */
.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: white;
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px; }

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  padding: 10px 25px; }

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  border-color: transparent; }

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px; }

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.pages a {
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8); }

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.footer-bs .footer-social li {
  padding: 5px 4px; }

.footer-bs .footer-social a {
  color: white; }

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1); } }

.floatRight {
  float: right; }

.introWebElements .introSection {
  text-align: center;
  background-color: #1F1F1F;
  height: 40vh;
  margin-top: 5vh; }
  .introWebElements .introSection h1 {
    margin-top: 0;
    margin-bottom: 7vh;
    color: #EC9E38;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -2px;
    padding-top: 5vh; }
  .introWebElements .introSection p {
    color: #fff; }
  .introWebElements .introSection img {
    position: relative;
    width: 4vh;
    margin-top: 9vh; }

.introWebElements .title-bg {
  z-index: 200;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
  margin-bottom: 0;
  padding-top: 1vh;
  padding-bottom: 6vh;
  background-color: #c033bf;
  background-image: url(../img/programming.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35); }
  .introWebElements .title-bg h2 {
    display: block;
    padding: 2vh 3vw;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.8);
    font-size: 2em;
    font-weight: 600;
    color: white; }

.introWebElements .intro-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5vh;
  padding-top: 5vh;
  justify-items: center; }
  .introWebElements .intro-table .intro-table-third {
    text-align: center;
    width: 24vh;
    padding: 2vh 2vw 5vh;
    border: 1px solid #ececec;
    border-radius: 3px;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transition: box-shadow .5s ease, -webkit-transform .5s ease;
    transition: box-shadow .5s ease, -webkit-transform .5s ease;
    transition: box-shadow .5s ease, transform .5s ease;
    transition: box-shadow .5s ease, transform .5s ease, -webkit-transform .5s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer; }
    .introWebElements .intro-table .intro-table-third img {
      border: 0;
      max-width: 100%; }
    .introWebElements .intro-table .intro-table-third h3 {
      margin-top: 2vh;
      margin-bottom: 1vh;
      font-family: 'Mark simonson proxima nova', sans-serif;
      font-size: 1.4em;
      font-weight: 600; }
    .introWebElements .intro-table .intro-table-third p {
      line-height: 24px;
      margin: 0; }
  .introWebElements .intro-table .intro-table-third:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: perspective(1000px) translate3d(0, 0, 70px);
    transform: perspective(1000px) translate3d(0, 0, 70px); }

.boton-3, .div-block-4, .effect-10 a, .effect-5 a, .gl-2-tn-bl-2 {
  overflow: hidden; }

.boton-3, .effect, .effect-2, .effect-2 a span, .title-bg, div a {
  position: relative; }

.effect, .effect-2, .effect-2 a span, .effect-3, .effect-4, div a {
  display: inline-block; }

.subsec-links {
  width: 100vw;
  padding-top: 7vh;
  padding-bottom: 5vh;
  background-image: -webkit-linear-gradient(270deg, #2c292f, #2c292f);
  background-image: linear-gradient(180deg, #2c292f, #2c292f);
  font-family: 'Open Sans', sans-serif;
  color: #f5f5f5;
  line-height: 1em;
  font-weight: 300;
  text-align: center; }
  .subsec-links .subsec-title {
    margin-top: 0;
    margin-bottom: 5vh;
    font-size: 4em;
    font-weight: 400;
    color: #f79b30; }

.links-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 30vh;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-size: 1.35em; }
  .links-container div a {
    color: #fff;
    text-decoration: none; }
  .links-container .effect, .links-container .effect-2, .links-container .effect-2 a span, .links-container .effect-3, .links-container .effect-4, .links-container div a {
    display: inline-block; }
  .links-container .effect a::after, .links-container .effect a::before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .2s;
    -moz-transition: -moz-transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s; }
  .links-container .effect a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }
  .links-container .effect a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  .links-container .effect a:focus::after, .links-container .effect a:focus::before, .links-container .effect a:hover::after, .links-container .effect a:hover::before {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); }
  .links-container .effect-2 a {
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px; }
  .links-container .effect-2 a span {
    padding: 0 14px;
    background: #191919;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .links-container .csstransforms3d .effect-2 a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191919;
    content: attr(data-hover);
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0; }
  .links-container .effect-3 a::after, .links-container .effect-4 a::after {
    left: 0;
    content: '';
    top: 100%;
    width: 100%; }
  .links-container .effect-2 a:focus span, .links-container .effect-2 a:hover span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px); }
  .links-container .csstransforms3d .effect-2 a:focus span::before, .links-container .csstransforms3d .effect-2 a:hover span::before {
    background: #2c292f; }
  .links-container .effect-3 {
    position: relative; }
  .links-container .effect-3 a {
    padding: 8px 0; }
  .links-container .effect-3 a::after {
    position: absolute;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    -moz-transition: opacity .3s, -moz-transform .3s;
    transition: opacity .3s, transform .3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  .links-container .effect-3 a:focus::after, .links-container .effect-3 a:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  .links-container .effect-4 {
    position: relative; }
  .links-container .effect-4 a {
    padding: 0 0 10px; }
  .links-container .effect-4 a::after {
    position: absolute;
    height: 1px;
    background: #fff;
    opacity: 0;
    -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
    -moz-transition: height .3s, opacity .3s, -moz-transform .3s;
    transition: height .3s, opacity .3s, transform .3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  .links-container .effect-5, .links-container .effect-5 a span {
    position: relative;
    display: inline-block; }
  .links-container .effect-4 a:focus::after, .links-container .effect-4 a:hover::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  .links-container .effect-5 a {
    padding: 0 8px; }
  .links-container .effect-5 a span {
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s; }
  .links-container .effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .links-container .effect-5 a:focus span, .links-container .effect-5 a:hover span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%); }
  .links-container .effect-6 {
    position: relative;
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw; }
  .links-container .effect-6 a::after, .links-container .effect-6 a::before {
    position: absolute;
    top: 0;
    height: 2px;
    background: #fff;
    content: '';
    left: 0; }
  .links-container .effect-6 a {
    margin: 0 10px;
    padding: 10px 20px; }
  .links-container .effect-7, .links-container .effect-8 {
    margin-left: 1vw;
    display: inline-block; }
  .links-container .effect-6 a::before {
    width: 100%;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    transition: top .3s; }
  .links-container .effect-6 a::after {
    width: 2px;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    transition: height .3s; }
  .links-container .effect-10 a span, .links-container .effect-7 a::after, .links-container .effect-7 a::before {
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s; }
  .links-container .effect-6 a:hover::before {
    top: 100%;
    opacity: 1; }
  .links-container .effect-6 a:hover::after {
    height: 100%; }
  .links-container .effect-7 {
    position: relative;
    margin-right: 1vw; }
  .links-container .effect-7 a {
    padding: 12px 10px 10px;
    color: #fff;
    text-shadow: none;
    font-weight: 700; }
  .links-container .effect-7 a::after, .links-container .effect-7 a::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    transition: transform .3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85); }
  .links-container .effect-7 a::after {
    opacity: 0;
    -webkit-transition: top .3s, opacity .3s, -webkit-transform .3s;
    -moz-transition: top .3s, opacity .3s, -moz-transform .3s;
    transition: top .3s, opacity .3s, transform .3s; }
  .links-container .effect-8 a::after, .links-container .effect-8 a::before, .links-container .effect-9 a::after {
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s; }
  .links-container .effect-7 a:focus::after, .links-container .effect-7 a:focus::before, .links-container .effect-7 a:hover::after, .links-container .effect-7 a:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }
  .links-container .effect-7 a:focus::after, .links-container .effect-7 a:hover::after {
    top: 0;
    opacity: 1; }
  .links-container .effect-8 {
    position: relative; }
  .links-container .effect-8 a {
    padding: 10px 20px; }
  .links-container .effect-8 a::after, .links-container .effect-8 a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #354856;
    content: '';
    transition: transform .3s, opacity .3s; }
  .links-container .effect-8 a::after {
    border-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-7px) translateX(6px);
    -moz-transform: translateY(-7px) translateX(6px);
    transform: translateY(-7px) translateX(6px); }
  .links-container .effect-8 a:focus::before, .links-container .effect-8 a:hover::before {
    opacity: 0;
    -webkit-transform: translateY(5px) translateX(-5px);
    -moz-transform: translateY(5px) translateX(-5px);
    transform: translateY(5px) translateX(-5px); }
  .links-container .effect-8 a:focus::after, .links-container .effect-8 a:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    -moz-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0); }
  .links-container .effect-9 {
    position: relative;
    display: inline-block; }
  .links-container .effect-9 a {
    margin: 0 20px;
    padding: 18px 20px; }
  .links-container .effect-9 a::after, .links-container .effect-9 a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: .2;
    -webkit-transition: opacity .3s, height .3s;
    -moz-transition: opacity .3s, height .3s;
    transition: opacity .3s, height .3s; }
  .links-container .effect-9 a::after {
    top: 100%;
    opacity: 0;
    transition: transform .3s, opacity .3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  .links-container .effect-9 a span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300; }
  .links-container .effect-9 a span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0;
    color: rgba(255, 0, 0, 0.7);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: .75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%); }
  .links-container .effect-9 a:focus::before, .links-container .effect-9 a:hover::before {
    height: 6px; }
  .links-container .effect-9 a:focus span:last-child, .links-container .effect-9 a:focus::after, .links-container .effect-9 a:focus::before, .links-container .effect-9 a:hover span:last-child, .links-container .effect-9 a:hover::after, .links-container .effect-9 a:hover::before {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  .links-container .effect-10 {
    display: inline-block;
    position: relative;
    z-index: 1; }
  .links-container .effect-10 a {
    margin: 0 15px; }
  .links-container .effect-10 a span {
    display: block;
    padding: 10px 20px;
    background: #191919;
    transition: transform .3s; }
  .links-container .effect-11, .links-container .effect-12, .links-container .effect-13, .links-container .effect-14, .links-container .effect-15, .links-container .effect-16, .links-container .effect-17, .links-container .effect-18 {
    display: inline-block;
    margin-left: 2vw; }
  .links-container .effect-10 a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #0f7c67;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateX(-25%); }
  .links-container .effect-10 a:focus span, .links-container .effect-10 a:hover span {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%); }
  .links-container .effect-10 a:focus::before, .links-container .effect-10 a:hover::before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); }
  .links-container .effect-11 {
    position: relative; }
  .links-container .effect-11 a {
    padding: 10px 0;
    border-top: 2px solid #0972b4;
    color: #0972b4;
    text-shadow: none; }
  .links-container .effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: max-width .5s;
    -moz-transition: max-width .5s;
    transition: max-width .5s; }
  .links-container .effect-12 a::after, .links-container .effect-12 a::before, .links-container .effect-15 a::before {
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s; }
  .links-container .effect-11 a:focus::before, .links-container .effect-11 a:hover::before {
    max-width: 100%; }
  .links-container .effect-12 {
    position: relative; }
  .links-container .effect-12 a::after, .links-container .effect-12 a::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 0, 0.5);
    border-radius: 50%;
    content: '';
    opacity: 0;
    transition: transform .3s, opacity .3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2); }
  .links-container .effect-12 a::after {
    width: 90px;
    height: 90px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8); }
  .links-container .effect-12 a:focus::after, .links-container .effect-12 a:focus::before, .links-container .effect-12 a:hover::after, .links-container .effect-12 a:hover::before {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1); }
  .links-container .effect-13 {
    position: relative; }
  .links-container .effect-13 a {
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s; }
  .links-container .effect-13 a::before {
    position: absolute;
    top: 100%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow .3s, color .3s;
    -moz-transition: text-shadow .3s, color .3s;
    transition: text-shadow .3s, color .3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none; }
  .links-container .effect-13 a:focus::before, .links-container .effect-13 a:hover::before {
    color: #fff;
    text-shadow: 10px 0 #fff, -10px 0 #fff; }
  .links-container .effect-13 a:focus, .links-container .effect-13 a:hover {
    color: #ba7700; }
  .links-container .effect-14 {
    position: relative; }
  .links-container .effect-14 a {
    padding: 0 20px;
    height: 45px;
    line-height: 45px; }
  .links-container .effect-14 a::after, .links-container .effect-14 a::before {
    position: absolute;
    width: 45px;
    height: 2px;
    background: #fff;
    content: '';
    opacity: .2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    pointer-events: none; }
  .links-container .effect-14 a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0; }
  .links-container .effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  .links-container .effect-14 a:focus::after, .links-container .effect-14 a:focus::before, .links-container .effect-14 a:hover::after, .links-container .effect-14 a:hover::before {
    opacity: 1; }
  .links-container .effect-14 a:focus::before, .links-container .effect-14 a:hover::before {
    left: 50%;
    -webkit-transform: rotate(0) translateX(-50%);
    -moz-transform: rotate(0) translateX(-50%);
    transform: rotate(0) translateX(-50%); }
  .links-container .effect-14 a:focus::after, .links-container .effect-14 a:hover::after {
    right: 50%;
    -webkit-transform: rotate(0) translateX(50%);
    -moz-transform: rotate(0) translateX(50%);
    transform: rotate(0) translateX(50%); }
  .links-container .effect-15 {
    position: relative; }
  .links-container .effect-15 a {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-shadow: none; }
  .links-container .effect-15 a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    transition: transform .3s, opacity .3s; }
  .links-container .effect-16 a::before, .links-container .effect-17 a::before {
    content: attr(data-hover);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s; }
  .links-container .effect-15 a:focus::before, .links-container .effect-15 a:hover::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    color: #b4770d; }
  .links-container .effect-16 {
    position: relative; }
  .links-container .effect-16 a {
    color: #0972b4;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.3); }
  .links-container .effect-16 a::before {
    color: #fff;
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transition: transform .3s, opacity .3s;
    pointer-events: none; }
  .links-container .effect-16 a:focus::before, .links-container .effect-16 a:hover::before {
    -webkit-transform: scale(1) translateX(0) translateY(0) rotate(0);
    -moz-transform: scale(1) translateX(0) translateY(0) rotate(0);
    transform: scale(1) translateX(0) translateY(0) rotate(0);
    opacity: 1; }
  .links-container .effect-17 {
    position: relative; }
  .links-container .effect-17 a {
    color: #10649b;
    text-shadow: none;
    padding: 10px 0; }
  .links-container .effect-17 a::before {
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    position: absolute;
    transition: transform .3s, opacity .3s;
    pointer-events: none; }
  .links-container .effect-17 a::after, .links-container .effect-18 a::after, .links-container .effect-18 a::before {
    width: 100%;
    left: 0;
    height: 2px;
    content: '';
    pointer-events: none; }
  .links-container .effect-17 a::after {
    position: absolute;
    bottom: 0;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s; }
  .links-container .effect-17 a:focus::before, .links-container .effect-17 a:hover::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px); }
  .links-container .effect-17 a:focus::after, .links-container .effect-17 a:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  .links-container .effect-18 {
    position: relative;
    z-index: 1; }
  .links-container .effect-18 a {
    padding: 0 5px;
    color: #b4770d;
    font-weight: 700;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s; }
  .links-container .effect-18 a::after, .links-container .effect-18 a::before {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    background: #b4770d;
    z-index: -1;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s; }
  .links-container .effect-19, .links-container .effect-19 a span {
    position: relative;
    display: inline-block; }
  .links-container .effect-18 a::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  .links-container .effect-18 a::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px); }
  .links-container .effect-18 a:focus, .links-container .effect-18 a:hover {
    color: #fff; }
  .links-container .effect-18 a:focus::after, .links-container .effect-18 a:focus::before, .links-container .effect-18 a:hover::after, .links-container .effect-18 a:hover::before {
    opacity: .7; }
  .links-container .effect-18 a:focus::before, .links-container .effect-18 a:hover::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  .links-container .effect-18 a:focus::after, .links-container .effect-18 a:hover::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .links-container .effect-19 a {
    line-height: 2em;
    margin: 15px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    width: 200px; }
  .links-container .effect-20, .links-container .effect-21 {
    margin-right: 2vw;
    margin-left: 2vw; }
  .links-container .effect-19 a span {
    width: 100%;
    padding: 0 14px;
    background: #e35041;
    -webkit-transition: -webkit-transform .4s, background .4s;
    -moz-transition: -moz-transform .4s, background .4s;
    transition: transform .4s, background .4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -100px;
    -moz-transform-origin: 50% 50% -100px;
    transform-origin: 50% 50% -100px; }
  .links-container .csstransforms3d .effect-19 a span::before {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #b53a2d;
    content: attr(data-hover);
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
    pointer-events: none; }
  .links-container .effect-20, .links-container .effect-20 a span {
    position: relative;
    display: inline-block; }
  .links-container .effect-19 a:focus span, .links-container .effect-19 a:hover span {
    background: #b53a2d;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  .links-container .csstransforms3d .effect-19 a:focus span::before, .links-container .csstransforms3d .effect-19 a:hover span::before {
    background: #ef5e50; }
  .links-container .effect-20 a {
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px; }
  .links-container .effect-20 a span {
    padding: 3px 15px 0;
    background: #587285;
    box-shadow: inset 0 3px #2f4351;
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
    transition: background .6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  .links-container .effect-20 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #2f4351;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform .6s;
    -moz-transition: -moz-transform .6s;
    transition: transform .6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none; }
  .links-container .effect-20 a:focus span, .links-container .effect-20 a:hover span {
    background: #0965a0; }
  .links-container .effect-20 a:focus span::before, .links-container .effect-20 a:hover span::before {
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg); }
  .links-container .effect-21 {
    position: relative;
    display: inline-block; }
  .links-container .effect-21 a {
    padding: 10px;
    color: #0965a0;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s; }
  .links-container .effect-21 a::after, .links-container .effect-21 a::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    -moz-transition: opacity .3s, -moz-transform .3s;
    transition: opacity .3s, transform .3s; }
